<% @c.each do |a| %>
	


<div>
	<div>Название: <%= a.name %></div>
	<div>Описание:<%= a.description %></div>
	<div>Цена: <%= a.price %></div>
	<div>Размер: <%= a.size %> сантиметров</div>
</div>
<p></p>

<% end %>
	
		